# Keymesh Environment Variables Example

# PostgreSQL Connection URL/URI
# postgresql://[user[:password]@][host][:port]/[dbname]
KEYMESH_POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/keymesh

# Redis Connection URL/URI
# redis://[[username]:password]@host:port/db
KEYMESH_REDIS_URL=redis://localhost:6379/0

# SQLite Database path or URI
# e.g., file:memdb?mode=memory&cache=shared or keymesh.db
KEYMESH_SQLITE_PATH=:memory:
